<a class="card card--exercise {{ include.class }}" href="{{site.baseurl}}{{ exercise.url }}">
  <span class="card__preTitle">exercise {{ exercise.num }}</span>
  <h3 class="card__title">{{ exercise.title }}</h3>
  <p class="card__text">{{ exercise.intro }}</p>
  <p><span class="bold">Due:</span> {{ exercise.due }}</p>
</a>