<a class="card {{ include.class }}" href="{{site.baseurl}}{{ deliverable.url }}">
  <div class="card__preTitle"><span>{{ deliverable.type | capitalize }} {{ deliverable.num }}</span></div>
  <h3 class="card__title">{{ deliverable.title }}</h3>
  <p class="card__text">{{ deliverable.intro }}</p>
  <p><span class="bold">Due:</span> {{ deliverable.due }}</p>
</a>