{% assign delCheck = '' %}
{% for ass in site.assignments %}{% for week in ass.weeks %}{% if week == page.week %}{% assign delCheck = 'yup' %}{% endif %}{% endfor %}{% endfor %}
{% for ex in site.exercises %}{% for week in ex.weeks %}{% if week == page.week %}{% assign delCheck = 'yup' %}{% endif %}{% endfor %}{% endfor %}
{% for dis in site.discussions %}{% for week in dis.weeks %}{% if week == page.week %}{% assign delCheck = 'yup' %}{% endif %}{% endfor %}{% endfor %}
{% for quiz in site.quizzes %}{% for week in quiz.weeks %}{% if week == page.week %}{% assign delCheck = 'yup' %}{% endif %}{% endfor %}{% endfor %}

{% if delCheck != '' %}
<div class="sidebar deliverables">
  <h2 class="sidebar__title">Deliverables</h2>
  <ul class="sidebar__list">
    {% comment %}
    {% for deliverable in page.deliverables %}
    <li>
      <a href="{% unless deliverable.external %}/deliverables/{{ deliverable.type }}/{% endunless %}{{ deliverable.link }}"{% if deliverable.external %} target="_blank" rel="noreferrer noopener"{% endif %} class="sidebar__list__item icon-wrap">
        <i role="img" class="icon">
          <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#{{ deliverable.icon }}" /></svg>
        </i>
        <div role="img" class="icon-label">
          <span class="sidebar__list__secondary">{{ deliverable.category }}</span>
          <span class="sidebar__list__title">{{ deliverable.title }}</span>
        </div>
      </a>
    </li>
    {% endfor %}
    {% endcomment %}
    {% for ass in site.assignments %}
      {% for week in ass.weeks %}
        {% if week == page.week %}
          <li>
            <a href="{{site.baseurl}}{{ ass.url }}" class="sidebar__list__item icon-wrap">
              <i role="img" class="icon">
                <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#assignment" /></svg>
              </i>
              <div role="img" class="icon-label">
                <span class="sidebar__list__secondary">Assignment</span>
                <h3 class="sidebar__list__title">{{ ass.title }}</h3>
                <span class="sidebar__list__due content-sec-1">Due: {{ ass.due.sec-1 }}</span>
                <span class="sidebar__list__due content-sec-2">Due: {{ ass.due.sec-2 }}</span>
              </div>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
    {% for ex in site.exercises %}
      {% for week in ex.weeks %}
        {% if week == page.week %}
          <li>
            <a href="{{site.baseurl}}{{ ex.url }}" class="sidebar__list__item icon-wrap">
              <i role="img" class="icon">
                <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#design-service" /></svg>
              </i>
              <div role="img" class="icon-label">
                <span class="sidebar__list__secondary">Exercise</span>
                <h3 class="sidebar__list__title">{{ ex.title }}</h3>
                <span class="sidebar__list__due content-sec-1">Due: {{ ex.due.sec-1 }}</span>
                <span class="sidebar__list__due content-sec-2">Due: {{ ex.due.sec-2 }}</span>
              </div>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
    {% for dis in site.discussions %}
      {% for week in dis.weeks %}
        {% if week == page.week %}
          <li>
            <a href="{{ dis.link }}" class="sidebar__list__item icon-wrap" target="_blank" rel="noreferrer noopener">
              <i role="img" class="icon">
                <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#chat" /></svg>
              </i>
              <div role="img" class="icon-label">
                <span class="sidebar__list__secondary">Discussion</span>
                <h3 class="sidebar__list__title">{{ dis.title }}</h3>
                <span class="sidebar__list__due content-sec-1">Due: {{ dis.due.sec-1 }}</span>
                <span class="sidebar__list__due content-sec-2">Due: {{ dis.due.sec-2 }}</span>
              </div>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
    {% for quiz in site.quizzes %}
      {% for week in quiz.weeks %}
        {% if week == page.week %}
          <li>
            <a href="{{ quiz.link }}" class="sidebar__list__item icon-wrap" target="_blank" rel="noreferrer noopener">
              <i role="img" class="icon">
                <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#quiz" /></svg>
              </i>
              <div role="img" class="icon-label">
                <span class="sidebar__list__secondary">Quiz</span>
                <span class="sidebar__list__title">{{ quiz.title }}</span>
                <span class="sidebar__list__due content-sec-1">Due: {{ quiz.due.sec-1 }}</span>
                <span class="sidebar__list__due content-sec-2">Due: {{ quiz.due.sec-2 }}</span>
              </div>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
</div>
{% endif %}