<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if page.intro %}<meta name="description" content="{{ page.intro }}">{% endif %}
  <title>{% if page.title %}{{ page.title }} · {% if page.week %}Week {{ page.week }} · {% endif %}{% endif %}Graphic Technologies</title>
  <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
</head>
<body{% if page.class %} class="{{ page.class }}"{% endif %}>
  
  {% include snippets/skip-links.liquid %}
  
  {% include patterns/header.liquid %}
  
  <main id="main" role="main">

    {{ content }}

  </main>
  
  {% include patterns/footer.liquid %}

  {% include snippets/to-top.liquid %}

  {% include patterns/section-select.liquid %}

  <script src="{{site.baseurl}}/js/main.js" type="module"></script>
</body>
</html>
