---
layout: default
---

<article class="deliverable">
  <header class="content-banner container-grid center" tabindex="0">
    <div class="content-banner__graphic l-9-13">
      <div class="graphic-tilt">
        {% if page.graphic %}
          {% capture link %}graphics/icon-{{page.graphic}}.liquid{% endcapture %}
          {% include {{ link }} %}
        {% endif %}
      </div>
    </div>
    <div class="content-banner__content l-span-6 l-first-row">
      <strong class="content-banner__week">{{ page.type | capitalize }} {{ page.num }}</strong>
      <h1 class="content-banner__title">{{ page.title }}</h1>
      <p class="content-banner__intro">{{ page.intro }}</p>
    </div>
  </header>

  <div class="container-grid">
    <div class="l-9-13">
      <div class="content-sidebars">
        {% include patterns/sidebars/submission.liquid %}
        {% if page.files %}
          {% include patterns/sidebars/files.liquid %}
        {% endif %}
        {% if page.grading %}
          {% include patterns/sidebars/grading.liquid %}
        {% endif %}
      </div>
    </div>

    <div class="content-wrap l-1-9">
      {% if page.includeOutline %}
      <section class="content-outline" tabindex="0">
        {% include snippets/heading-linked.liquid text="Outline" class="shift-full" %}
        <ol class="page-nav">
        </ol>
      </section>
      {% endif %}
      <section id="content" class="content auto-heading-links pad-b-4{% unless page.includeOutline == true %} heading-full-shift{% endunless %}">
        
        {{ content }}
        
      </section>
    </div>
    <a class="heading-linked__link hidden" href="#outline" aria-label="Select to share link to Outline.">
      <i role="img" class="icon">
        <svg><use xlink:href="/images/icons.svg#link"></use></svg>
      </i>
    </a>

  </div>
  {% if page.relContent %}
  <footer class="pad-t-4 pad-b-4 bg-grey-light">
    <div class="container-grid">
    	{% include snippets/heading-linked.liquid text="Related Content" class="shift-full" %}
    	{% for weekRef in page.relContent  %}
        {% for week in site.course-content %}
        {% if week.week == weekRef %}
          <a class="card card--week m-span-6" href="{{site.baseurl}}{{week.url}}">
            <div class="card__preTitle"><span>Week {{week.week}}</span></div>
            <h3 class="card__title">{{ week.title }}</h3>
            <p class="card__text">{{ week.intro }}</p>
          </a>
          {% endif %}
    	  {% endfor %}
    	{% endfor %}
    </div>
  </footer>
  {% endif %}
</article>